body, html {
  background-color: #e7dada;
}

.navBar {
  box-shadow: 0 2px 2px -2px rgba(107, 105, 105, 0.2);
}
/*Home page style*/
.homeContentGrid {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50em;
}
.titleBox {
  display: flex;
  justify-self: center;
  align-self: center;
  text-align: center;
  min-height: 100vh;
  width: 100vw;
}

.title {
  justify-content: center;
  padding: 1rem 0;
  align-self: center;
}

.logo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.elysianLogo {
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  align-self: flex-start;
  margin: 0;
}
.cateringLogo {
  font-family: 'Dancing Script', cursive;
  font-size: 5rem;
  align-self: flex-end;
  margin: 0;
}

.motto {
  font-family: 'Solway', serif;
  align-self: flex-end;
  margin: 0;

}

.missionStatement {
  background-color: black;
  padding: 3rem 0 ;
  width: 100%;
  color: white;
  text-align: center;

}
.twitterContainer {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}
.eventContainer {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
}
.twitter {
  display: flex;
  text-align: center;
  justify-self: center;
  align-self: center;
}

.youtubeContainer {
  width: 100%;
  display: flex;
  flex-wrap: flex;
  background-color: black;
  flex-direction: column;
  padding-bottom: 1rem;
}
.mediaTitle {
  font-family: 'Solway', serif;
  justify-self: stretch;
  align-self: center;
  justify-content: center;
  width: 100%;
  height: 7rem;
  padding: 1rem .5rem; 
  margin-bottom: 1rem;
  background-color: #DBAE4B;
  color: white;
  display: flex;
}
.youtube {
  display: flex;
  justify-self: flex-end;
  align-self: center;
  height: auto;
  width: 80%;
  color: white;
}
.affiliations {
  background-color: black; 
  padding: 1rem 1rem;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  min-height: 40vh;
  color: white;
}
.imageGroup {
  text-align: center;
  align-self: center;
  justify-content: center;
}
.com_header {
  background-color: black; 
  text-align: center;
  align-self: center;
  justify-content: center;
  font-family: 'Solway', serif;
  color: white;
  width: 100%;
  height: 5rem;
}
.catholicCommunity {
  margin: .5em;
  justify-self: center;
  align-self: center;
  padding: 1rem;

}
.bbbsUtah {
  margin: .5em;
  justify-self: center;
  align-self: center;
  padding: 1rem;
}
.voAmerica {
  margin: .5em;
  justify-self: center;
  align-self: center;
  padding: 1rem;
}

/* About Page layout*/
.aboutTitle {
  background-color: #DBAE4B;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 5rem 0 2rem;
 
}
.aboutHead {
  color:black;
  align-self: center;
  font-family: 'Solway', serif;
  padding-left: 1rem;

}
.aboutMeta {
  align-self: center;
  color: white;
  font-family: 'Merriweather', serif;
}
.aboutMeContainer {
  text-align: center;
  justify-items: center;
  width: 100%;
  min-height: 60vh;
}
.personalImg {
  float: left;
  margin: 1rem;
  width: auto;
}
.headShot {
  /* justify-self: center; */
  height: 30rem;
  width: 80%;
  border: 1px solid black;
  box-shadow: 10px 10px 8px #888888;
 
}
.aboutMeText {
  text-align: justify;
  align-self: center;
  justify-self: center;
  width: 100%;
  padding: 1rem;

}
/*end of About me layout*/
/*Menu layout and style*/
.menuTitle {
  display: flex;
  flex-direction: column;
  background-color: #DBAE4B;
  font-family: 'Solway', serif;
  text-align: center;
  padding: 1rem 1rem;
  width: 100%;
}
.menuHead {
  text-align: center;
  font-family: 'Solway', serif;
}
.menuMeta {
 font-size: 1rem;
 color: white;
}
.menuContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  background-image: url(./Images/marbleBG.jpg);
  background-color: #fcfcfc;
  background-size: 100%;
  width: 100%;
  min-height: 80vh;
  margin-top: 2rem;
 
}
.apps {
  justify-self: center;
  align-self: flex-start;
  text-align: center;
  margin: 1rem 0;
  width: 100%;
  height: 100%;
  padding:.5rem
}
.itemHead {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 0px;
}
.salads {
  width: 100%;
  height: 100%;
  padding:.5rem;
  justify-self: center;
  align-self: flex-start;
  text-align: center;
  margin: 1rem 0;
}
.entrees {
  width: 100%;
  height: 100%;
  padding:.5rem;
  justify-self: center;
  align-self: flex-start;
  text-align: center;
  margin: 1rem 0;
}
.desserts {
  width: 100%;
  height: 100%;
  padding:.5rem;
  justify-self: center;
  align-self: flex-start;
  text-align: center;
  margin: 1rem 0;
}

/*End of Menu style*/
/*Contact */
.contactContainer {
  display: flex;
  justify-content: center;
  margin: 1rem 1rem;
  flex-wrap: wrap;

}
.contactTitle {
  background-color: #DBAE4B;
  color: white;
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
  width: 100%;
  font-family: "Merriweather", serif;
  padding: 5rem 0 3rem;
  
}
.contactForm {
  padding: 1rem 1rem;

}
/* styles for the social media icons */
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
 }
 
 a.social:hover {
 transform: translateY(-2px); 
 color: chartreuse;
 }
 
 a.facebook {
 color: #4968ad;
 }
 
 a.twitter {
 color: #49a1eb;
 }
 
 a.instagram {
 color: black;
 }
 a.linkedin {
 color: #49a1eb;
 }
 /*End of social styles*/
 /*Email Style*/
.emailBox {
  align-self: center;
  padding: .5em;
  text-align: center;
  font-size: 1em;
  font-family: 'Roboto Slab', serif;

}

a.email {
  color: black;
}

a.email:hover {
  color: blue;
}
/*End of Email styles*/

/*Events Layout style*/
.eventHead {
  display:flex;
  background-color: #DBAE4B;
  text-align: center;
  margin: 2rem 0;
  padding: 5rem 0 2rem;
  font-family: 'Solway', serif;
  justify-content: center;
  align-content: center;
  width: 100%;
}
/*End og events styles*/

/*Footer style*/
.footerGrid {
  background-color: rgb(219, 174, 75);
  display: flex;
  flex-flow: column wrap;
  align-content: center;
  text-align: center;
  width: 100%;
  padding: 1rem;
}

.mainFooter {
  font-family: 'Dancing Script', cursive;
  margin: .5em 0;
  align-self: center;
  font-size: 3rem;
  font-weight: 600;
  min-height:3rem;
}
.phoneNum {
  font-family: 'Roboto Slab', serif;
  margin-top: 1rem;
  padding-top: 1rem;
  align-self: center;
}
.poweredBy {
  font-family: 'Roboto Slab', serif;
  padding: 1em;
}


/*FAQ Page style*/

.faqContainer {
  display: flex;
  width: 100%;
  margin: 2rem 0 5rem 0;
 
}

.cardContainer {
  justify-content: center;
  
}
.faqCard {
 display: flex;
}
.cardHead {
  justify-content: center;
  padding: 1rem;
}
.cardMeta {
  justify-content: center;
  padding: 1rem;
}
/*End Of FAQ Styles*/
/*  dropdown menu*/
.dropDown {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.menuBars {
  align-self: center;

}
/** Slider Css **/
.slideShow {
  padding: .5rem;
  display: flex;
  justify-self: center;
  align-self: center;
  overflow: hidden;
  height: auto;
  width: 100vw;
}
.slide-container {
  width: 40vw;
  margin: auto; }

h3 {
  text-align: center; }


.each-slide > div {
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* height: vh; */
  width: 100vw;
}

.each-slide span {
  padding: 20rem;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.each-fade {
  display: flex;
}

.each-fade .image-container {
  width: 100%;
  overflow: hidden;
}

.each-fade .image-container img {
  width: 100%;
}

.each-fade h2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: #adceed;
} 
/** end of slider css**/
/** FindUs css**/
.findUs {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  justify-items: center;
  width: 100%;
  min-height: 30vh;
}
.findUsItem {
  justify-self: center;
  align-self: center;
  margin: 1rem;
 
}
/**end of fidUs  **/
@media only screen and (max-width: 667px) {


  /* About Page layout*/
 .aboutTitle {
   background-color: #DBAE4B;
   display: flex;
   justify-content: center;
   width: 100%;
   padding: 1rem 1rem;
 }
 .aboutHead {
   color:black;
   align-self: center;
   font-family: 'Solway', serif;
   padding-left: 1rem;
 
 }
 .aboutMeta {
   align-self: center;
   color: white;
   font-family: 'Merriweather', serif;
 }
 .aboutMeContainer {
   display: flex;
   flex-flow: column wrap;
   align-items: center;
   justify-items: center;
   min-height: 90vh;
 }
 .personalImg {
   display: flex;
   justify-self: center;
   align-self: center;
   width: auto;
 }
 .headShot {
   justify-self: center;
   height: 30rem;
   width: 80%;
   border: 1px solid black;
   box-shadow: 10px 10px 8px #888888;
  
 }
 .aboutMeText {
   text-align: justify;
   align-self: center;
   justify-self: center;
   width: 100%;
   padding: 1rem;
 
 }
 /*end of About me layout*/
 /*Menu layout and style*/
 .menuTitle {
   display: flex;
   flex-direction: column;
   background-color: #DBAE4B;
   font-family: 'Solway', serif;
   text-align: center;
   padding: 1rem 1rem;
   width: 100%
 }
 .menuHead {
   text-align: center;
   font-family: 'Solway', serif;
 }
 .menuMeta {
  font-size: 1rem;
  color: white;
 }
 .menuContainer {
   display: flex;
   flex-flow: column nowrap;
   justify-content: center;
   background-image: url(./Images/marbleBG.jpg);
   background-color: #fcfcfc;
   width: 100%;
   height: auto;
 }
 .apps {
   justify-self: center;
   align-self: flex-start;
   text-align: center;
   width: 100%;
   height: 100%;
 }
 .itemHead {
   text-decoration: underline;
   text-align: center;
   margin-bottom: 0px;
 }
 .salads {
   width: 100%;
   height: 100%;
   justify-self: center;
   align-self: center;
   text-align: center;
   
 }
 .entrees {
   width: 100%;
   height: 100%;
   justify-self: center;
   align-self: center;
   text-align: center;
   
 }
 .desserts {
   width: 100%;
   height: 100%;
   justify-self: center;
   align-self: center;
   text-align: center; 
 }
 
 /*End of Menu style*/
 }